
.idea/

*.pyc

*.pickle

*.cmake

*.bin

*.out

*.log

*.check_cache

*.internal

*.o

*.marks

*.avi

*.gif

*.zip

bin/

*.make

*.includecache

data processing/tools/findFramesOfInterrest/.goutputstream-PZSEGY

data processing/tools/findFramesOfInterrest/build/

data processing/tools/findFramesOfInterrest/flipFrames/CMakeFiles/

data/training/

data/testing/
